{% extends 'base.html' %}{%load static%} {%block content%}
<nav class="nav_bar">
    <!-- menu -->
    <div class="menu_bar">
        <a class="menu" href="{% url 'index' %}">HOME</a>
        <a class="menu" href="{% url 'pres' %}">PRESCRIBER</a>
        <a class="menu" href="{% url 'drug' %}">DRUG</a>
        <a class="menu">ANALYSIS</a>
    </div>
</nav>
<button class="toTop" onclick="window.scrollTo({
    top: 0,
    left: 0,
    behavior: 'smooth'
  })">⬆</button>
<div class="container">
    <div class="cont">
        <h2>Drug List</h2>
        <div style="margin-bottom: 12px;">
            <form name="form" method="get" action="{% url 'drugsearch' %}" >
                <label>Search Medicine: </label>
                <input id='search' type="text" name="search" autofocus> 
                <label for='filter'>Filter Opioid</label>
                <input id= 'filter' type="checkbox" name='filter'>
                <button type="submit" class="btn btn-primary">Search</button>
            </form>
        </div>
        {% for d in druglist%}
        <a href= '/drugdetail/{{d.id}}'>
            <div class="sub">
                <span>{{ d.drugname }}</span>
                <span>{{ d.isopioid }}</span>
            </div>
        </a>
        {% endfor %}
    </div>
</div>
<!-- /.container -->
{% endblock %}
