{% extends 'base.html' %}{%load static%} {%block content%}
<nav class="nav_bar">
  <!-- menu -->
  <div class="menu_bar">
      <a class="menu" href="{% url 'index' %}">HOME</a>
      <a class="menu" href="{% url 'pres' %}">PRESCRIBER</a>
      <a class="menu" href="{% url 'drug' %}">DRUG</a>
      <a class="menu">ANALYSIS</a>
  </div>
</nav>
<button class="toTop" onclick="window.scrollTo({
  top: 0,
  left: 0,
  behavior: 'smooth'
})">⬆</button>
<div class="container">
  <div class="cont">
    <h2>Drug Detail</h2>
    <br><br>
    <div class="sub">
      <span>{{ drug.drugname }}</span>
      <span>{{ drug.isopioid }}</span>
    </div>

    <h2>Top 10 Prescriber List</h2>
    <table class="styled-table">
      <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Credential</th>
            <th>Prescribed Quantity</th>
        </tr>
      </thead>
      <tbody>
      {% for p in prescriber %}
        <tr>
            <td>{{ p.fname }}</td>
            <td>{{ p.lname }}</td>
            <td>{{ p.credentials }}</td>
            <td>{{ p.drugqty }}</td>
        </tr>
            <!-- and so on... -->
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<!-- /.container -->
{% endblock %}
