{% extends 'base.html' %}{%load static%} {%block content%}

<div class="overlay"></div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
      <div class="page-title text-center">
        <h2>Welcome</h2>
        <span class="title-bg">Welcome</span>
        <p>
          Please use the links below to select your role, or if you would like
          to learn more about the opioid epidemic across the country.
        </p>
      </div>

      <div class="hexagon-menu clear">
        <div class="hexagon-item">
          <div class="hex-item">
            <div></div>
            <div></div>
            <div></div>
          </div>
          <div class="hex-item">
            <div></div>
            <div></div>
            <div></div>
          </div>
          <a href="welcome.html" class="hex-content">
            <span class="hex-content-inner">
              <span class="icon">
                <i class="tf-profile-female"></i>
              </span>
              <span class="title">Search Prescriber</span>
            </span>
            <svg
              viewbox="0 0 173.20508075688772 200"
              height="200"
              width="174"
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z"
                fill="#1e2530"
              ></path>
            </svg>
          </a>
        </div>
        <div class="hexagon-item">
          <div class="hex-item">
            <div></div>
            <div></div>
            <div></div>
          </div>
          <div class="hex-item">
            <div></div>
            <div></div>
            <div></div>
          </div>
          <a href="{%url 'drug'%}" class="hex-content">
            <span class="hex-content-inner">
              <span class="icon">
                <i class="tf-search"></i>
              </span>
              <span class="title">Search Drug</span>
            </span>
            <svg
              viewbox="0 0 173.20508075688772 200"
              height="200"
              width="174"
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z"
                fill="#1e2530"
              ></path>
            </svg>
          </a>
        </div>
        <div class="hexagon-item">
          <div class="hex-item">
            <div></div>
            <div></div>
            <div></div>
          </div>
          <div class="hex-item">
            <div></div>
            <div></div>
            <div></div>
          </div>
          <a href="{% url 'new'%}" class="hex-content">
            <span class="hex-content-inner">
              <span class="icon">
                <i class="tf-profile-male"></i>
              </span>
              <span class="title">Create Prescriber</span>
            </span>
            <svg
              viewbox="0 0 173.20508075688772 200"
              height="200"
              width="174"
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z"
                fill="#1e2530"
              ></path>
            </svg>
          </a>
        </div>
        <div class="hexagon-item">
          <div class="hex-item">
            <div></div>
            <div></div>
            <div></div>
          </div>
          <div class="hex-item">
            <div></div>
            <div></div>
            <div></div>
          </div>
          <a href="services.html" class="hex-content">
            <span class="hex-content-inner">
              <span class="icon">
                <i class="tf-tools-2"></i>
              </span>
              <span class="title">Services</span>
            </span>
            <svg
              viewbox="0 0 173.20508075688772 200"
              height="200"
              width="174"
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z"
                fill="#1e2530"
              ></path>
            </svg>
          </a>
        </div>
        <div class="hexagon-item">
          <div class="hex-item">
            <div></div>
            <div></div>
            <div></div>
          </div>
          <div class="hex-item">
            <div></div>
            <div></div>
            <div></div>
          </div>
          <a href="resume.html" class="hex-content">
            <span class="hex-content-inner">
              <span class="icon">
                <i class="tf-tools"></i>
              </span>
              <span class="title">Resume</span>
            </span>
            <svg
              viewbox="0 0 173.20508075688772 200"
              height="200"
              width="174"
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z"
                fill="#1e2530"
              ></path>
            </svg>
          </a>
        </div>
        <div class="hexagon-item">
          <div class="hex-item">
            <div></div>
            <div></div>
            <div></div>
          </div>
          <div class="hex-item">
            <div></div>
            <div></div>
            <div></div>
          </div>
          <a href="works.html" class="hex-content">
            <span class="hex-content-inner">
              <span class="icon">
                <i class="tf-briefcase2"></i>
              </span>
              <span class="title">Works</span>
            </span>
            <svg
              viewbox="0 0 173.20508075688772 200"
              height="200"
              width="174"
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z"
                fill="#1e2530"
              ></path>
            </svg>
          </a>
        </div>
        <div class="hexagon-item">
          <div class="hex-item">
            <div></div>
            <div></div>
            <div></div>
          </div>
          <div class="hex-item">
            <div></div>
            <div></div>
            <div></div>
          </div>
          <a href="testimonials.html" class="hex-content">
            <span class="hex-content-inner">
              <span class="icon">
                <i class="tf-chat"></i>
              </span>
              <span class="title">Testimonials</span>
            </span>
            <svg
              viewbox="0 0 173.20508075688772 200"
              height="200"
              width="174"
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z"
                fill="#1e2530"
              ></path>
            </svg>
          </a>
        </div>

        <!-- /.hexagon-menu -->
      </div>
      <!-- /.col-xs-12 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
  {% endblock %}
</div>
