{%extends 'base.html'%}{%load static%}{%block content%}
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
      <div class="page-title text-center">
        <h2>Update <span class="primary">Prescriber</span></h2>
      </div>
    </div>
  </div>
  <!-- /.row -->
  <div class="row">
    <div class="col-xs-12 col-sm-5 col-md-4 col-lg-3">
      <form class="row no-gutter" action="{% url 'updatePres'%}" method="post">
        {% csrf_token %}
        <input type="hidden" id="presid" name="presid" value="{{pres.id}}" />
        <div class="col-lg-12 col-lg-12">
          <div class="input-field">
            <input
              type="text"
              class="form-control"
              name="fname"
              id="fname"
              value="{{pres.fname}}"
            />
          </div>
        </div>
        <br />
        <!-- ./col- -->
        <div class="col-lg-12 col-lg-12">
          <div class="input-field">
            <input
              type="text"
              class="form-control"
              name="lname"
              id="lname"
              value="{{pres.lname}}"
            />
          </div>
        </div>
        <br />
        <!-- ./col- -->
        <div class="col-lg-12 col-lg-12">
          <div class="input-field">
            <input
              type="text"
              class="form-control"
              name="gender"
              id="gender"
              value="{{pres.gender}}"
            />
          </div>
        </div>
        <br />
        <!-- ./col- -->
        <div class="col-lg-12 col-lg-12">
          <div class="input-field">
            <input
              type="text"
              class="form-control"
              name="state"
              id="state"
              value="{{pres.state}}"
            />
          </div>
        </div>
        <br />
        <!-- ./col- -->
        <div class="col-lg-12 col-lg-12">
          <div class="input-field">
            <input
              type="text"
              class="form-control"
              name="credentials"
              id="credentials"
              value="{{pres.credentials}}"
            />
          </div>
        </div>
        <br />
        <!-- ./col- -->
        <div class="col-lg-12 col-lg-12">
          <div class="input-field">
            <input
              type="text"
              class="form-control"
              name="specialty"
              id="specialty"
              value="{{pres.specialty}}"
            />
          </div>
        </div>
        <br />
        <!-- ./col- -->
        <div class="col-lg-12 col-lg-12">
          <div class="input-field">
            <select
              type="text"
              class="form-control"
              name="isopioidprescriber"
              id="isopioidprescriber"
            >
              <option value="True">True</option>
              <option value="False">False</option>
            </select>
          </div>
        </div>
        <br />
        <!-- ./col- -->
        <span class="btn">
          <button
            type="submit"
            class="btn btn-primary btn-custom-border text-uppercase"
          >
            Update
          </button>
        </span>
        <!-- ./col- -->
      </form>
      <!-- /.row -->
    </div>
    <!-- /.col- -->
  </div>
  <!-- /.row -->
</div>
<!-- /.container -->

{%endblock%}
