{%extends 'base.html'%}{%load static%}{%block content%}
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
      <div class="page-title text-center">
        <h2>Register a New <span class="primary">Prescriber</span></h2>
        <p>Fill out the information below to register a new prescriber.</p>
      </div>
    </div>
  </div>
  <!-- /.row -->
  <div class="row">
    <div class="col-xs-12 col-sm-5 col-md-4 col-lg-3">
      <form class="row no-gutter" action="{% url 'newPres'%}" method="post">
        {% csrf_token %}
        <div class="col-lg-12 col-lg-12">
          <div class="input-field">
            <input
              type="text"
              class="form-control"
              name="fname"
              id="fname"
              placeholder="First Name"
            />
          </div>
        </div>
        <br />
        <!-- ./col- -->
        <div class="col-lg-12 col-lg-12">
          <div class="input-field">
            <input
              type="text"
              class="form-control"
              name="lname"
              id="lname"
              placeholder="Last Name"
            />
          </div>
        </div>
        <br />
        <!-- ./col- -->
        <div class="col-lg-12 col-lg-12">
          <div class="input-field">
            <input
              type="text"
              class="form-control"
              name="gender"
              id="gender"
              placeholder="Gender"
            />
          </div>
        </div>
        <br />
        <!-- ./col- -->
        <div class="col-lg-12 col-lg-12">
          <div class="input-field">
            <input
              type="text"
              class="form-control"
              name="state"
              id="state"
              placeholder="State"
            />
          </div>
        </div>
        <br />
        <!-- ./col- -->
        <div class="col-lg-12 col-lg-12">
          <div class="input-field">
            <input
              type="text"
              class="form-control"
              name="credentials"
              id="credentials"
              placeholder="Credential"
            />
          </div>
        </div>
        <br />
        <!-- ./col- -->
        <div class="col-lg-12 col-lg-12">
          <div class="input-field">
            <input
              type="text"
              class="form-control"
              name="specialty"
              id="specialty"
              placeholder="Specialty"
            />
          </div>
        </div>
        <br />
        <!-- ./col- -->
        <div class="col-lg-12 col-lg-12">
          <div class="input-field">
            <select
              type="text"
              class="form-control"
              name="isopioidprescriber"
              id="isopioidprescriber"
              placeholder="Prescribes opioids?"
            >
              <option value="" disabled selected>Prescribes opioids?</option>
              <option value="True">True</option>
              <option value="False">False</option>
            </select>
          </div>
        </div>
        <br />
        <!-- ./col- -->
        <div class="col-lg-12 col-lg-12">
          <div class="input-field">
            <input
              type="text"
              class="form-control"
              name="totalprescriptions"
              id="totalprescriptions"
              placeholder="To Date Prescriptions"
            />
          </div>
        </div>
        <br />
        <!-- ./col- -->
        <span class="btn">
          <button type="submit" class="text-uppercase">Create</button>
        </span>
        <!-- ./col- -->
      </form>
      <!-- /.row -->
    </div>
    <!-- /.col- -->
  </div>
  <!-- /.row -->
</div>
<!-- /.container -->

{%endblock%}
